@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

:root {
    /* it declares the global variable across the css sheet */
  --main-color: hotpink;
}

*::selection{

    background-color: coral;
}


*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;

    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration:none;
    border:none;

}

body{
    background-color: rgba(255, 255, 255, 0.425);
    /* height: 200rem; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;



}


.Header_section{
    position: fixed;
    display:flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(22, 20, 20, 0.5);
    box-shadow: 0 0 1.2rem blue;
    /* color: rgb(241, 205, 125); */
    z-index: 1000;

}
.logo::first-letter{

    color: rgb(250, 187, 28);
}

.logo{

    font-weight: 600;
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    width: 25vw;
    /* background-color:wheat ; */
    height:auto;
    color: white;
    padding-left:10rem ;

}

.nav_section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    /* padding-right: 10rem; */
    /* background-color: violet; */
    font-weight: 300;
    font-size: 2rem;
    /* color: rgb(250, 187, 28); */
}

#account_icon{

    font-size: 2rem;
    padding-left: 8rem;
    color: wheat;
}
#account_icon:hover{
    cursor:pointer;
}

.nav_section a{
    color: rgb(245, 250, 248);
}
.nav_section a:hover{
    color: rgb(209, 147, 13);
}

.login_form{
    position: fixed;
    min-height: 100vh;
    left:0;
    right: 0;
    top: -120%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: rgba(53, 48, 44, 0.7);
    z-index: 100;
    /* filter: drop-shadow(0.1rem 0.1rem 0.6rem  rgb(219, 9, 9)); */
}

.login_form.active{
    top: 0;
}

.login_form form{

    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    background: rgb(232, 235, 230);
    width: 50rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    /* height: 40rem; */

}

.login_form form h3{

    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    /* margin: 1rem; */
    padding: 1rem 1rem;
    /* background: chartreuse; */
    color: rgb(45, 48, 43);
    font-weight: 900;
    letter-spacing: 0.2rem;
}


.login_form form .box{

    font-size: 2.5rem;
    font-weight: 550;
    margin: 0.6rem 0;
    padding: 0.5rem ;
    border: 0.1rem solid black;
    color: rgb(57, 60, 65);
    font-family: 'Dongle', sans-serif;

}
.login_form form #visibility
{
    display: flex;
    /* justify-content:space-around/ */
    /* padding-left: 1rem; */
    column-gap: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.06rem;


}
.login_form form .login{

    padding: 1rem;
    margin: 1rem;
    background: rgb(39, 41, 38);
    font-size: 2rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.09rem;

}
.login_form form .login:hover{
    background: chocolate;
    cursor: pointer;
}
.login_form form #Remember{
    column-gap: 1rem;
    display: flex;
    margin: 0.3rem;
    font-size:1.3rem ;
    letter-spacing: 0.06rem;

}

.login_form form .fun {
    display: flex;
    margin-top: 1rem;
    /* background: chocolat */
    font-size: 1.4rem;
    /* color: black; */
    letter-spacing: 0.06rem;


}
.login_form form .fun a{
    color: rgb(9, 36, 241);
    margin-left: 0.2rem;
    letter-spacing: 0.06rem;
}

.login_form .far{

    position: absolute;
    top:10rem ;
    right: 30rem;
    font-size: 5rem;
}

.login_form .far:hover{
    color:rgba(241, 43, 43, 0.885);
    cursor: pointer;

}


#menu-bar{

    font-size:3rem ;
    color: white;
    padding-left: 3rem;
    cursor: pointer;
    display: none;
    /* border-radius: 1rem; */
    /* border: 1rem solid; */

}





/* home section css */


.home_section{

    /* width: 100vw; */
    height: 100vh;
    /* background: linear-gradient(135deg ,rgb(55, 147, 233),rgb(200, 233, 243)); */
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* flex-direction: column; */
}

.home_section .content{
    position: absolute;
    /* background-color: rgb(232, 235, 230); */
    text-align: center;
}

.home_section .content h3{

    font-size: 5rem;
    text-transform: uppercase;
    padding: 1.5rem;
    color:rgb(235, 238, 227);
    letter-spacing: 0.6rem;
    font-weight: 800;
    text-shadow: -1px 0 rgb(14, 129, 236), 0 1px rgb(13, 34, 218), 1px 0 rgb(15, 59, 252), 0 -1px rgb(8, 47, 131);


}
.home_section .content h4{
   
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1.5rem;
    color:rgb(246, 247, 245);
    letter-spacing: 0.6rem;
    font-weight: 800;
    text-shadow: -1px 0 rgb(14, 129, 236), 0 1px rgb(13, 34, 218), 1px 0 rgb(15, 59, 252), 0 -1px rgb(8, 47, 131);



}
.home_section .content p{
    padding: 1rem;
}
.home_section .content a{

    padding: 1rem;
    margin: 1rem;
    background: rgb(233, 161, 6);
    font-size: 2rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.2rem; 
} 
.home_section .content a:hover{
    
    border: 0.1rem solid rgb(233, 161, 6);
    /* color: rgb(241, 163, 19); */
    background: rgba(228, 134, 11, 0.603);
}

.home_section .video-container video{
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;  
}


.home_section .controls{
    background:black;
    border-radius: 4rem;
    position: relative;
    top: 15rem;
    padding: 1rem;
}

.home_section .controls .video-btn{


    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    border-radius: 40%;
    background-color: white ;
}

.home_section .controls .video-btn:hover{
    background-color: rgb(231, 156, 15);

}
.home_section .controls .video-btn.active{
    background-color: rgb(231, 156, 15);

}

/* universal heading css */

section{
    padding: 2rem;
}
.heading{
    text-align: center;
    /* background-color: tomato; */
    text-transform: uppercase;
    padding: 2rem;
    height: 15vh;
}
.heading span{
    font-size: 4rem;
    padding: 0.4rem 1rem;
    background: rgb(226, 183, 43);
    border-radius: 0.5rem;
    /* display: inline-block; */
    
}
.heading .space{
    background: none;
}


/* universal heading css ends here */


/* book section css */

.book_section{
    background: linear-gradient(to right bottom,rgb(8, 117, 189),rgb(204, 152, 55));
    height:108vh;
}

.book_section .row{
    display: flex;
    
    height: 75vh;
    flex-direction: row;
    gap:1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.book_section .row .image{
  flex:1 1 40rem;
}

.book_section .row .image img{
  width:100%;
}

.book_section .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book_section .row form .inputBox{
  padding:.5rem 0;
}

.book_section .row form .inputBox input{
    width: 100%;
    border: 0.2rem solid rgb(46, 43, 38);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
}

.book_section .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:rgb(252, 243, 243);
  letter-spacing: 0.3rem;
}

.book_section .row form .Book{
    padding: 1rem;
    margin: 2rem;
    background: rgb(240, 142, 13);
    border: 0.1rem solid rgb(240, 142, 13) ;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.09rem;
    border-radius: 1rem;
}

.book_section .row form .Book:hover{
    background: rgba(240, 142, 13, 0.1);
    color: rgb(240, 142, 13);

}
.packages{
        background: linear-gradient(to right top,rgb(11, 102, 163) 50%,orange );

}
.packages .image-container{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .image-container .image{
    flex: 1 1 30rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.7rem 0.6rem rgb(224, 102, 2);
}


.packages .image-container .image img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

.packages .image-container .image .content{
    padding: 2rem;
}
.packages .image-container .image .content h3{
    font-size: 2rem;
    padding: 1rem;
}
.packages .image-container .image .content h3 i{
    color: orange;

}

.packages .image-container .image .content h3 span{
    padding-left: 0.8rem;
    
    text-transform: capitalize;
    letter-spacing: 0.1rem;

}

.packages .image-container .image .content p{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: black;
    font-weight: 700;

}
.packages .image-container .image .content .stars i{
    color: orange;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.packages .image-container .image .content .price{
    font-size: 1.6rem;
    padding-top: 1rem;
}

.packages .image-container .image .content .price span{
    font-size: 1.3rem;
    /* padding-top: 1rem; */
    text-decoration: line-through;
}



.packages .image-container .image .Book{
    padding: 1rem;
    margin: 1rem;
    background: rgb(240, 142, 13);
    border: 0.1rem solid rgb(240, 142, 13) ;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.09rem;
    border-radius: 1rem;
}

.packages .image-container .image .Book:hover{

    background: rgba(240, 142, 13, 0.1);
    color: rgb(240, 142, 13);
}

.services_section{

    background-image: url(images_and_videos/Travel_4.jpg);
    /* background-repeat: no-repeat; */
    /* object-fit: cover;  */

    background-size: 100% 100%;
}
.services_section .services-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    
}

.services_section .services-container .services{
    flex: 1 1 30rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.services_section .services-container i{

    font-size: 5rem;
    color: chocolate;
    margin: 2rem;
}
.services_section .services-container .content{
    
    text-align: center;
    padding: 1rem;
}



.services_section .services-container .content h3{

    font-size: 2rem;
    font-weight: 900;
    color: black;
    margin: 0 1rem 1rem 1rem ;

}
.services_section .services-container .content p{

    font-size: 1.7rem;
    color: darkgray;
    /* font-weight: bold; */

}
.gallery_section{
    margin: 3rem;
}

.gallery_section .image_container{

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.gallery_section .image_container .gallery{
    flex: 1 1 40rem;
    overflow: hidden;
    position: relative;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
.gallery_section .image_container .gallery img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 5; */
    
}



.gallery_section .image_container .gallery .content{
     transition: .9s ease;
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
    border-radius: 1rem;
    

}

.gallery_section .gallery .content .see_more{
    padding: 1rem;
    margin: 1rem;
    background: rgb(240, 142, 13);
    border: 0.1rem solid rgb(240, 142, 13) ;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    letter-spacing: 0.09rem;
    border-radius: 1rem;
}
.gallery_section .gallery .content h3{

    font-size: 3rem;
    color: rgb(175, 103, 9);
    letter-spacing: 0.2rem;
    padding: 1rem;
}
.gallery_section .gallery .content p{

    font-size:2rem ;
    color: white;
}


.gallery_section .gallery .content .see_more:hover{

    background: rgba(240, 142, 13, 0.1);
    color: rgb(240, 142, 13);
}

.gallery_section .gallery:hover .content{
    top: 0;
}

.review_section .swiper-wrapper{
    padding-bottom: 2rem;
}

.review_section .swiper-slide{

    padding:1rem;
    /* height: 25rem; */
    width: 100%;
    /* background: black; */
    text-align: center;
    
    box-shadow: 1rem 1rem 1rem rgb(91, 210, 231);
}

.review_section .swiper-slide img{

    height: 13rem;
    width: 13rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.review_section .swiper-slide h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.review_section .swiper-slide p{
    font-size: 1.7rem;
    color: rgb(45, 49, 49);
    margin-bottom: 0.5rem;
}

.review_section .swiper-slide .stars{
    font-size: 1.5rem;
    color: darkorange;
}







/* media queries */

@media (max-width: 1200px)
{
    html{
        font-size: 55%;
    }
}

@media (max-width:960px)
{
    .logo{
        padding-left: 1rem;
    }
    #account_icon{
        padding-left: 5rem;
    }
    
}

@media (max-width:700px)
{
    #menu-bar{
        display: initial;
        padding-right:0.6rem ;
    }
    .nav_section{
        top: 100%;
        position: absolute;
        display: block;
        right: 0;
        left:0;
        
        width: 100vw;
        background: rgb(45, 46, 43);
        border-top: 0.1rem solid blue;
        clip-path: polygon(0 0, 100% 0, 10% 0, 0 0);
        /* padding: 1rem; */
    }   
    .nav_section.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       
    }


    .nav_section a{
        display: block;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 1rem;
        background: rgb(39, 39, 39);
        box-shadow: 0 0.5rem 1rem black;
        

    }
    
    /* #account_icon{
        /* background: lemonchiffon; */
        /* text-align: right; */
        /* padding-left: 10rem;
    }  */

    .Header_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    

    .login_form #close_form{
        left:50rem;
    } 
    

}
@media (max-width:638px) {

    .home_section .controls{
        top: 18rem !important;
    }
    
}

@media (max-width: 489px)
{
    html{
        font-size: 40%;
    }
    .login_form form{
        width: 30rem;

    }

    /* .heading span{
        font-size: 2.5rem;
    } */

    
}

